*{
    margin: 0px;
    padding: 0px;
}
h3{
    font-family: monospace;
    font-size: 30px;
    color: #0066CC;
    padding: 5px;
}
header,nav,section,aside,footer,article,hgroup{
    display: block;
}
body{
    text-align: center;
}
.wrapper{
    padding:0px;
}
.content{
    width: 100%;
    padding: 10px;
    background-color:aliceblue;
    height: 550px;
}

.header{
    width: 100%;
    height: 150px;
    background-image: url("../image/header.gif") ;
    
    border-radius: 5px;
}
#nav{
    margin:1px 0px;
}
.footer{
    height: 50px;
    margin:5px;
    clear: both;
    color: #FFF;
    background: #1b6d85;
    border-radius: 10px;
}

/*Alignment*/
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
/*Color*/
.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}

/*Modal Size*/
.modal-size1{
    width: 25%;
}

#bordered-table th,#bordered-table td{
    padding: 5px;
}

/*Pagination Styling*/

#paging div{
    display: inline-block;
}
#pagination {
    padding: 3px;
    margin: 3px;
    text-align:center;
}
	
#pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;

    text-decoration: none; /* no underline */
    color: #000099;
}
#pagination a:hover{
    border: 1px solid #000099;
    color: #000;
}
#pagination span.current {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #000099;

        font-weight: bold;
        background-color: #000099;
        color: #FFF;
}
#pagination span.disabled {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #EEE;

        color: #DDD;
}
.link{
    text-decoration: none;
    color: #1b6d85;
}
.link:hover{
    text-decoration: none;
    color: #0099FF;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

